*.dmg filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
横道图[[:space:]]Gantt.app/Contents/Frameworks/**/Versions/A/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
横道图[[:space:]]Gantt.app/Contents/MacOS/* filter=lfs diff=lfs merge=lfs -text
横道图[[:space:]]Gantt.app/Contents/Frameworks/**/Versions/A/Mantle filter=lfs diff=lfs merge=lfs -text
横道图[[:space:]]Gantt.app/Contents/Frameworks/**/Versions/A/ReactiveObjC filter=lfs diff=lfs merge=lfs -text
横道图[[:space:]]Gantt.app/Contents/Frameworks/**/Versions/A/Squirrel filter=lfs diff=lfs merge=lfs -text
横道图[[:space:]]Gantt.app/Contents/Frameworks/**/ShipIt filter=lfs diff=lfs merge=lfs -text
